.DS_Store
**/node_modules
.env
.docker.env
.idea*
**/.pac
.yarn/*
!.yarn/releases
!.yarn/plugins
**/__pycache__
results-page-chrome*
**/*.pem
**/*.key
**/*.crt
data
**/log*.txt
**/*.log
**/.nyc_output
**/coverage
**/*.tgz